@font-face {
    font-family: 'beu';
    src: url(font/beaufort-for-lol/BeaufortforLOL-Bold.ttf) format('truetype');
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar relleno por defecto */
    color: #ebddc1; /* Color del texto */
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
header {
   padding: 60px; /* Relleno interno */
   text-align: center; /* Centrar el texto */
   background-image: url(img/lol_logo_v2.png);
   background-repeat: no-repeat;
   background-size: 14% 90%;
   background-position: center;
}
nav {
    background-color: #051829; /* Color de fondo del menú */
}

/* Estilos para los enlaces del menú */
nav ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0px; /* Eliminar relleno */
    margin: 0px; /* Eliminar márgenes */
    display: flex; /* Usar flexbox para el menú */
    justify-content: space-around; /* Espaciado uniforme entre elementos */
}

/* Estilos para los elementos del menú */
nav ul li {
    position: relative; /* Posición relativa para el menú desplegable */
}

/* Estilos para los enlaces del menú */
nav a {
    display: block; /* Hacer que los enlaces ocupen todo el bloque */
    color: #c8aa6e; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 14px 20px; /* Relleno interno */
    text-decoration: none; /* Eliminar subrayado */
}

/* Cambiar el color de fondo al pasar el ratón sobre los enlaces */
nav a:hover {
    background-color: #092949; /* Color de fondo al pasar el ratón */
}

/* Estilos para el menú desplegable */
.desplegable-contenido {
    display: none; /* Ocultar el contenido por defecto */
    position: absolute; /* Posicionar el contenido de forma absoluta */
    background-color: #092949; /* Color de fondo del contenido */
    min-width: 160px; /* Ancho mínimo del contenido */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegurar que el contenido esté por encima */
}

/* Estilos para los enlaces dentro del menú desplegable */
.desplegable-contenido a {
    color: white; /* Color del texto */
    padding: 12px 16px; /* Relleno interno */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Cambiar el color de fondo al pasar el ratón sobre los enlaces del menú desplegable */
.desplegable-contenido a:hover {
    background-color: #c8aa6e; /* Color de fondo al pasar el ratón */
}

/* Mostrar el contenido del menú desplegable al pasar el ratón sobre el botón */
.desplegable:hover .desplegable-contenido {
    display: block; /* Mostrar el contenido */
}
/* Configuración de la clase contenedor */
.contenedor{
    width: 80%;
    padding: 70px;
    margin: 0px;
}
/* Configuración de la clase formulario */
.formulario{
    background-color: #051829;
    margin-top: 100px;
}
/* Configuración del titulo del formulario */
h1{
    padding-top: 20px;
    text-align: center;
    color: #c8aa6e;
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
/*-- Configuración de los distintos inputs --*/
input[type="text"], input[type="password"], input[type="mail"]{
    text-align: left;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;
    margin-top: 0%;
    background-color: #051829;
    color: #c8aa6e;
}
/* Separación de los distintos inputs */
.input-contenedor{
    margin-bottom: 15px;
    margin-top: 1px;
}
/* Configuración de los distintos botones */
.button{
    border: none;
    width: 90%;
    font-size: 24px;
    color: #c8aa6e;
    background-color: #061f36;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #051829;
}
p{
    text-align: center;
}
/* El link hacia los distintos formularios */
.link{
    text-decoration: none;
    color: #c8aa6e;
    font-weight: 600px;
}
.link:hover{
    color: #092949;
}
aside {
    width: 180px; /* Ancho del aside */
    float: left; /* Alinear a la izquierda */
    background-color: #051829e6; /* Color de fondo del aside */
    padding: 20px; /* Relleno interno */
    margin: 0px; /* Margen alrededor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    height: 100%;
}
a{
    color: #c8aa6e;
}
/* Estilos para la tabla en el aside */
aside table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapsar bordes */
    
}

aside th {
    background-color: #061f36; /* Color de fondo del encabezado de la tabla */
    color: white; /* Color del texto */
    padding: 10px; /* Relleno interno */
}
aside th:hover{
    background-color: #092949; /* Color de fondo al pasar el ratón */
}

aside td {
    padding: 10px; /* Relleno interno */
    border-bottom: 1px solid #ccc; /* Línea inferior */
}
main {
    margin-left: 220px; /* Margen izquierdo para evitar el aside */
    padding: 2%; /* Relleno interno */
    background-color: #061f36a1;
    
}
footer{
    text-align: center; /* Alinear el texto al centro */
    color: #c8aa6e;
}
/* Hacemos que nuestra página sea un poco responsive */
@media (min-width: 768px){
    .formulario{
        margin-top: 150px;
        width: 500px;
        margin: auto;
        border-radius: 2%;
    }
}